<section class="content inspect-statblock-tooltip feature-tooltip">
    <section class="header">
        <div class="top">
            {{#if img}}
                <img src="{{ img }}" alt="{{ name }}" class="feature-icon">
            {{else}}
                <i class="fas fa-scroll feature-icon-fallback"></i>
            {{/if}}
            <div class="name name-stacked">
                <span class="title">{{ name }}</span>
                {{#if subtitle}}
                    <span class="subtitle">{{{ subtitle }}}</span>
                {{else if type.label}}
                    <span class="subtitle">{{ type.label }}</span>
                {{/if}}
            </div>
        </div>
        <div class="bottom">
            {{#if rarity}}
                <div class="rarity">
                    <i class="fas fa-gem"></i>
                    <span>{{ rarity }}</span>
                </div>
            {{/if}}
            
            {{#if uses.max}}
                <div class="charges">
                    <i class="fas fa-battery-three-quarters"></i>
                    <span class="value">{{ uses.value }}</span>
                    <span class="separator">&sol;</span>
                    <span class="max">{{ uses.max }}</span>
                    <span>{{ localize "DND5E.Charges" }}</span>
                </div>
            {{/if}}
            
            {{#if price.value}}
                <div class="price">
                    <i class="currency {{ price.denomination }}"></i>
                    <span>{{ price.value }}</span>
                </div>
            {{/if}}
            
            {{#if weight.value}}
                <div class="weight">
                    <i class="fas fa-weight-hanging"></i>
                    <span>{{ weight.value }}</span>
                </div>
            {{/if}}
        </div>
    </section>

    {{#if description.value}}
        <section class="description">
            {{{ description.value }}}
        </section>
    {{/if}}

    {{#if properties.length}}
        <ul class="pills">
            {{#each properties}}
                <li class="pill transparent">
                    <span class="label">{{ this }}</span>
                </li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if activities.length}}
        <section class="activities">
            <h4>{{ localize "DND5E.Activities" }}</h4>
            {{#each activities}}
                <div class="activity-item">
                    {{#if this.name}}
                        <strong>{{ this.name }}:</strong>
                    {{/if}}
                    {{#if this.activation.type}}
                        <span class="activation">{{ this.activation.type }}</span>
                    {{/if}}
                    {{#if this.range.value}}
                        <span class="range">{{ this.range.value }} {{ this.range.units }}</span>
                    {{/if}}
                </div>
            {{/each}}
        </section>
    {{/if}}

    {{#if requirements}}
        <section class="requirements">
            <h4>{{ localize "DND5E.Requirements" }}</h4>
            <div class="requirement-text">{{{ requirements }}}</div>
        </section>
    {{/if}}

    {{#if source}}
        <section class="source">
            <h4>{{ localize "DND5E.Source" }}</h4>
            <div class="source-text">{{ source }}</div>
        </section>
    {{/if}}

    {{#if controlHints}}
        <div class="control-hint">
            <img src="systems/dnd5e/icons/svg/mouse-middle.svg" alt="{{ localize "DND5E.Controls.MiddleClick" }}">
            <span>{{ localize "DND5E.Controls.LockHint" }}</span>
        </div>
    {{/if}}
</section> 