<!-- templates/core_statblock_layout.hbs -->
{{!-- 
Core Generic Statblock Layout: 
Basic fallback layout for systems that don't provide their own systemSpecificLayoutTemplate.
Most systems should provide their own complete layout template.
--}}

{{!-- Basic generic layout for systems without specific templates --}}
<div class="generic-statblock-layout">
    {{#if this.headerInfo}}
        <div class="creature-header {{#if this.headerInfo.isHiddenGM}}element-hidden-to-players{{/if}}" data-element-key="{{this.headerInfo.nameElementKey}}">
            <h1>{{this.headerInfo.name}}</h1>
            {{#if this.headerInfo.identifierText}}<h2>{{this.headerInfo.identifierText}}</h2>{{/if}}
            {{#if this.headerInfo.typeText}}<h2>{{this.headerInfo.typeText}}</h2>{{/if}}
        </div>
    {{/if}}

    {{#if this.portraitInfo.displayImgSrc}}
        <div class="portrait-section">
            <img src="{{this.portraitInfo.displayImgSrc}}" alt="{{this.headerInfo.name}}" class="token-image">
        </div>
    {{/if}}

    {{!-- Generic sections rendering --}}
    {{#each this.sections}}
        <div class="statblock-section {{this.sectionClasses}}" data-section-id="{{this.id}}">
            {{#if this.title}}
                <div class="section-title" data-element-key="{{this.elementKey}}">{{this.title}}</div>
            {{/if}}
            
            {{#if this.systemSpecificPartialPath}}
                {{!-- Use system-specific partial if provided --}}
                {{> this.systemSpecificPartialPath this}}
            {{else}}
                {{!-- Generic item rendering --}}
                {{#if this.items}}
                    <div class="items-{{#if (eq this.displayType "grid")}}grid{{else}}list{{/if}}">
                        {{#each this.items}}
                            <div class="statblock-item {{this.displayType}}" data-element-key="{{this.elementKey}}">
                                {{#if this.icon}}<img src="{{this.icon}}" class="item-icon" alt="">{{/if}}
                                <span class="item-name">{{this.name}}</span>
                                {{#if this.subText}}<span class="item-subtext">{{this.subText}}</span>{{/if}}
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/if}}
        </div>
    {{/each}}
</div> 